.title-container {
  position: absolute;
  // TODO: доработать отступ
  top: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 75px;

  @media (max-width: 1280px) {
    top: 60px;
    left: 20px;
  }
}

.gradient {
  width: 5px;
  height: 120px;
  background: linear-gradient(180deg, var(--meduim-blue-100) -5%, var(--flamingo) 85%);  

  @media (max-width: 1280px) {
    display: none;
  }
}

.title {
  max-width: 353px;
  font-family: var(--font-ptsans-bold);
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;
  color: var(--steel-blue-100);

  @media (max-width: 1280px) {
    max-width: 123px;
    font-size: 20px;
  }
}
