.title-container {
  position: absolute;
  // TODO: доработать отступ
  top: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 75px;

  @media (max-width: 1280px) {
    top: 60px;
    left: 20px;
  }
}

.gradient {
  width: 5px;
  height: 120px;
  background: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);

  @media (max-width: 1280px) {
    display: none;
  }
}

.title {
  max-width: 353px;
  font-family: 'PTSans', 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;
  color: rgba(66, 86, 122, 1);

  @media (max-width: 1280px) {
    max-width: 123px;
    font-size: 20px;
  }
}
