.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: rgba(42, 56, 112, 0.1);

  @media (max-width: 1280px) {
    display: none;
  }
}
