.circle-spinner-container {
  position: absolute;
  width: 536px;
  height: 530px;
  top: 215px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

  @media (max-width: 1280px) {
    display: none;
  }
}

.circle-spinner {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  outline: 1px solid var(--dark-indigo-30);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphere-point {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--dark-indigo-100);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-ptsans);
  font-size: 20px;
  line-height: 30px;
  color: var(--steel-blue-100);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    width 0.3s ease,
    height 0.3s ease,
    background-color 0.3s ease,
    outline 0.3s ease;
}

.sphere-point:hover {
  width: 56px;
  height: 56px;
  outline: 1px solid var(--dark-indigo-50);;
  background-color: var(--main-bg-color);
}

.sphere-point .sphere-number,
.sphere-point .sphere-title {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sphere-point:hover .sphere-number {
  opacity: 1;
}

.sphere-point.active {
  width: 56px;
  height: 56px;
  outline: 1px solid var(--dark-indigo-60);
  background-color: var(--main-bg-color);
  cursor: default;
}

.sphere-point.active .sphere-number,
.sphere-point.active .sphere-title {
  opacity: 1;
  transition: opacity 1s ease 0.5s;
}

.sphere-title {
  position: absolute;
  left: 75px;
  font-family: var(--font-ptsans);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--steel-blue-100);
}
