.arrow-buttons-container {
  position: absolute;
  width: 120px;
  // TODO: autoheight by content
  height: 88px;
  left: 80px;
  // left: calc(1 / 24 * 100%);
  // TODO: build by slider
  top: 696px;
  // bottom: calc(13 / 135 * 100% + 191px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .slider-block-count {
    font-family: 'PTSans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 86, 122, 1);
  }

  .slider-arrows {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .slider-arrow-button {
    width: 50px;
    height: 50px;
    outline: 1px solid rgba(66, 86, 122, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
  }

  .slider-arrow-button:hover {
    background-color: white;
  }
}

.slider-container {
  position: absolute;
  width: 100%;
  height: auto;
  top: 840px;
  // bottom: calc(13 / 135 * 100%);
  // top: calc(7 / 9 * 100%); //841px top (calc by 840)
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .carousel-arrow-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
    margin: 0 20px;
    // TODO: fix button size
    padding: 0 2px;
  }

  .carousel-arrow-button:hover {
    box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);
    cursor: pointer;
  }

  .carousel-arrow-button:active {
    box-shadow: inset 0px 0px 5px 0px rgba(56, 119, 238, 0.2);
  }

  .hidden {
    visibility: hidden;
  }

  .carousel {
    flex-grow: 1;
    // top: 840px;
    // TODO: по центру с кнопками
    // width: calc(8 / 9 * 100%);
    height: auto;
    width: 100%;
    // bottom: calc(13 / 135 * 100%);
    // top: calc(7 / 9 * 100%); //841px top (calc by 840)
    overflow: hidden;
    cursor: grab;

    .swiper-wrapper {
      display: flex;
    }

    .event-card {
      // TODO: динамически
      width: 320px;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .card-title {
      font-family: 'Bebas Neue', sans-serif;
      // font-weight: 600;
      font-size: 25px;
      line-height: 120%;
      letter-spacing: 0;
      text-transform: uppercase;
      color: rgba(56,119,238, 1);
    }

    .card-desription {
      font-family: 'PTSans', sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0;
      color: rgba(66, 86, 122, 1);
    }
  }
}

.arrow-prev {
  transform: rotate(180deg);
}
