@font-face {
  font-family: 'PTSans';
  src: url(./shared/assets/fonts/PTSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url(./shared/assets/fonts/PTSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url(./shared/assets/fonts/BebasNeue-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-bg-color: rgba(244, 245, 249, 1);
  --electric-indigo: rgba(93, 96, 239, 1);
  --flamingo: rgba(239, 93, 168, 1);
  --dark-indigo-10: rgba(42, 56, 112, 0.1);
  --dark-indigo-30: rgba(42, 56, 112, 0.3);
  --dark-indigo-50: rgba(42, 56, 112, 0.5);
  --dark-indigo-60: rgba(42, 56, 112, 0.6);
  --dark-indigo-100: rgba(42, 56, 112, 1);
  --steel-blue-50: rgba(66, 86, 122, 0.5);
  --steel-blue-100: rgba(66, 86, 122, 1);
  --meduim-blue-10: rgba(56, 119, 238, 0.1);
  --meduim-blue-20: rgba(56, 119, 238, 0.2);
  --meduim-blue-100: rgba(56, 119, 238, 1);
  --font-ptsans: 'PTSans', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

button {
  background: none;
  background-color: none;
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
